* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 20px;
}

body {
  margin: 0;
}

header {
  height: 3.5rem;
}

footer {
  height: 3.5rem;
}

main {
  height: calc(100% - 7rem);
}